<!DOCTYPE html>

 <html lang="en" 
 th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate illum, doloribus nihil modi odio, exercitationem quis odit ex mollitia dolorum expedita sapiente quod harum reprehenderit qui, officiis quia ducimus unde!</p>
    </div>
    <script>
        console.log("home page");
    </script>
    
     <!-- npx tailwindcss -i src/main/resources/static/css/input.css -o src/main/resources/static/css/output.css --watch  -->

    
    
     
</html>